body{
  background-color: black;
}

.one {
  height: 100vh;
}

.full-black-bg {
   display: flex;
   justify-content: end;
}

.full-black-bg img {
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  filter : contrast(130%);
  position: absolute;
  height: 100vh;
}

.thee{
  display: flex;
}

.form input {
  width: 50vh;
  padding: 10px;
}

.form {
   padding: 10px;
}

.paras{
  color:white;
  width : 50%;
  margin-left: 15%;
  margin-top: 3%;
}

.main_content{
   /* border: 1px solid blue; */
   padding: 20px;
}

.button{
  padding: 10px;
}