.one {
  height: 100vh;
}

.full-black-bg {
   display: flex;
   justify-content: end;
}

.full-black-bg img {
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  filter : contrast(130%);
  position: absolute;
  height: 100vh;
}

.thee{
  border: 1px solid white;
  display: flex;
}

.form input {
  width: 50vh;
}

.form {
   padding: 20px;
   margin-top: auto;
}

.paras{
  color:white;
  border: 1px solid white;
  width : 50%
}