body{
  background-color: black;
}

.one {
  height: 100vh;
}

.full-black-bg {
   display: flex;
   justify-content: end;
}

.full-black-bg img {
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  filter : contrast(130%);
  position: absolute;
  height: 100vh;
}

.form_outline{
  display: inline-flex;
}

.form {
   padding: 10px;
}

.form input {
  width: 50vh;
  padding: 10px;
}

.error_image_div{
  position: relative;
  display: flex; 
  justify-content: center;
}

.paras{
  color:white;
  width : 50%;
  margin-top: 3%;
}

.main_content{
   padding: 20px;
   width: 50%;
}

.button{
  padding: 10px;
}